<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <a href="/animals/new"><button>Create A New Animal</button></a>
        <% for (animal of animals) { %>

        <article>
          <a href="/animals/<%= animal._id %>">
            <h2>
              <%= animal.species %> - <%= animal.extinct? "Extinct" : "Alive" %>
            </h2>
          </a>
        </article>

        <% } %>
      </div>
    </main>
  </body>
</html>
