<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <article>
          <h2>
            <%= animal.species %> - <%= animal.extinct? "Extinct" : "Alive" %>
          </h2>
          <h3><%= animal.location %></h3>
          <h3><%= animal.lifeExpectancy%></h3>
          <a href="/animals/<%= animal._id %>/edit"><button>Edit</button></a>
          <form
            action="/animals/<%= animal._id %>?_method=DELETE"
            method="POST"
          >
            <input type="submit" value="Delete" />
          </form>
          <a href="/animals/"><button>Back to Main</button></a>
        </article>
      </div>
    </main>
  </body>
</html>
